<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<div class="formdel">
<h3>Delete product complete...</h3>
<p>Click to back site</p>
<a name="" id="" style="width:500;"class="btn btn-primary" href="#" role="button">Back</a>
</div>
<% include ../partials/footer.ejs %>