<% include ../partials/header.ejs %>

<div class="container" style="margin-top:50px;">
<h3>Delete product complete...</h3>
<p>Click to back site</p>
<a name="" id="" class="btn btn-success" href="/product_list" role="button">Back</a>
</div>
<% include ../partials/footer.ejs %>