<% include ../partials/header.ejs %>
<div class="head" style="text-align:center;">
  <div
    class="picture"
    style="background-image:url(./pic/404.png); background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 0;
    padding-top: 40.64%;
    margin-left: 400px;
    "
  ></div>
</div>
<% include ../partials/footer.ejs %>
