<% include ../partials/header.ejs %>


<div class="jumbotron text-center">
<h1 class="">ProductManager</h1>
<p class="lead">Welcome to ProductManager Application</p>
<hr class="my-2">
<p>Click to inside</p>
<p class="lead">
    <a class="btn btn-primary btn-lg" href="/product_list" role="button">Jumbo action name</a>
</p>
</div>



<% include ../partials/footer.ejs %>