<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<canvas id="myChart"h></canvas>

<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["Storage is now"],
        datasets: [{
            label: "Beauty",
            backgroundColor: 'rgb(255, 102, 178)',
            borderColor: 'rgb(255, 102, 178)',
            data: [10],
            
        },
        {
            label: "Books",
            backgroundColor: 'rgb(255, 178, 102)',
            borderColor: 'rgb(255, 178, 102)',
            data: [5],
    },{

            label: "Furniter",
            backgroundColor: 'rgb(0, 255, 255)',
            borderColor: 'rgb(0, 255, 255)',
            data: [15],

    },{
            label: "Sport",
            backgroundColor: 'rgb(204, 255, 153)',
            borderColor: 'rgb(204, 255, 153)',
            data: [50],

    },{
            label: "Technology",
            backgroundColor: 'rgb(64, 64, 64)',
            borderColor: 'rgb(64, 64, 64)',
            data: [30],

    }]
    },
   
    // Configuration options go here
    options: { 
    responsive: true,
    maintainAspectRatio: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }}
});



</script>

<div class="container">
<h2>Database Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    <% results.forEach(function(r) { %>
        <tr>
            <td><%= r.tag %></td>
            <td><%= r.count %></td>               
        </tr>
        <% 
        var sum = 0;
        var sum = sum+r.count; 
        
        %>
        
    <% }); %>   

    </tbody>

</table>
 Total:<%= sum %>

</div>

<% include ../partials/footer.ejs %>