<% include ../partials/header.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<canvas id="myChart"></canvas>

<script>

var ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.height = 100;
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ["คลังสินค้า ณ ปัจจุบัน"],
        datasets: getLineData(),
           
    },
   
    // Configuration options go here
    options: { 
    responsive: true,
    maintainAspectRatio: true,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }}
});

function getLineData() {
  var data = []
  //for(var i=0; i < test; i++) {
   <% for(var ei =0; ei <results.length; ei++){ %>
    data.push({
        label: <%= results[ei].tag %>,
        backgroundColor: getRandomColor(),
        data: [<%= results[ei].count %>],
        
         });
        
 <% } %>

  return data
  
}
function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

</script>

<div class="container" style="margin-top:100px; margin-bottom:100px;" >
<h2>รายการจำนวนสินค้าในแต่ละประเภท</h2>
<div class="table-wrapper-scroll-y" style="display: block;max-height: 200px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;">
<table class="table">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Total</th>
        </tr>
    </thead>
    

</table>
</div>
    <div id ="total" style="color:red;font-size: 20px;"> </div>
</div>

<% include ../partials/footer.ejs %>