<% include ../partials/header.ejs %>

<div class="container">
     <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Shop Name</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </div>
    </div> 
     

    <div class="loadMore row">

        <% posts.forEach(function(r) { %>
        <div class="item col-lg-4 col-md-6 mb-4">
        <div class="item card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" /></a>
            <div class="item card-body">
                <h4 class="card-title"><a href="#">
                        <%= r.app %> </a></h4>
                <h5>
                    <%= r.price %>
                </h5>
                <p class="card-text">หมวดหมู่:
                    <%= r.genres %>
                </p>
            </div>
            <div class="item card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
        </div>

        <% }); %>

    </div>


</div>


<script>
    $(document).ready(function () {
        $('.loadMore').loadMoreResults({
            displayedItems: 6,
            showItems: 6,
            tag: {
                'name': 'div',
                'class': 'col-lg-4 col-md-6 mb-4'
            }
        });
    })

</script>
<% include ../partials/footer.ejs %>